.navigation {
    margin: 0;
    padding: 0;

    &-wrapper {
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0;
        background: $black;
        width: 130px;
        height: 100vh;
        border-radius: 0 20px 20px 0;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        display: grid;
        grid-template-rows: 1fr 10fr 1fr;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    &__logo-font {
        margin: 50px 0 100px 0;
        padding: 0;
        font-family: Baloo Bhai;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 64px;
        color: #FEFEFE;
        // text-decoration: none;
        // align-self: flex-start;
    }

    &__nav {
        margin: 0;
        padding: 0;
        justify-self: center;
    }

    &__list {
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    &__item {
        width: 26px;
        height: 26px;
        margin: 0;
        padding: 0 0 65px 0;
        list-style: none;

        &-img {
            // width: 100%;
            // height: auto;

            &:hover {
                border-radius: 2px;
                border: 2px solid white;
                background: $accent;
            }
        }
    }

    &__exit {
        margin-bottom: 50px;
        width: 100%;
        height: 26px;
    }
}
// Конец левой менюшки

// Страница
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    & .mix {
        display: none;
    }
}

section {
    margin-top: 90px;
}

.filter {
    &-wrapper {
        margin: 32px 0 0 200px;
    }

    &__title {
        // margin: 32px 0 0 250px;
        font-family: SF UI Text;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: $black;
    }

    &__blocks {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    &__button {
        font-family: SF UI Text;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        opacity: 0.3;
        color: $black;
        border: none;
        background: none;
        cursor: pointer;

        
        
        &:hover {
            text-decoration: underline;
            opacity: 1;
        }

        &:focus {
            outline: none;
        }

        &--active {
            opacity: 1;
            outline: none;
        }
    }

}



