/* Кнопки */
.btn {
  display: inline-block;
  border: 2px solid $black;
  border-radius: 8px;
  background: transparent;
  color: $black;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;

  /* Цвета кнопки */
  &--black {
    background-color: $black;
    color: $white;
    padding: 0;

    &:hover {
      background-color: lighten($black, 10%);
  };
  }
  &--accent {
    background-color: $accent;
    color: $white;
    border: 2px solid $accent;
    &:hover {
      background-color: lighten($accent, 10%);
  };
  }

  /* Размеры */
  &--default {
    padding: 13px 22px;
  }
  &--sm {
    padding: 13px 15px;
  }
  /* Кнопка-ссылка */
  &--link {
    border: 1px solid $black;
    padding: 13px 22px;
  }
}